* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.section1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/Image/slide0.jpg);
  background-size: cover;
  /* background-color: cadetblue; */
  position: absolute;
  top: 0;
  left: -100%;
  animation: 15s linear infinite;
  animation-name: slide1;
}
.section1 .box1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(146, 172, 184, 0.5176470588);
}
.section1 .box2 {
  width: 300px;
  height: 250px;
  position: absolute;
  left: 10%;
  top: 0;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  background-image: url(../Assets/Image/slide-rect0.jpg);
  background-size: cover;
}
.section1 .box3 {
  width: 800px;
  height: 500px;
  /* background-color: aqua; */
  position: absolute;
  top: 15%;
  font-size: 100px;
  font-family: "Pacifico", cursive;
  position: relative;
  color: white;
  font-weight: bolder;
}
.section1 .box3 > div:nth-of-type(1) {
  position: absolute;
  top: 5%;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
  animation: anime 5s 0.2s linear forwards infinite;
  visibility: hidden;
}
.section1 .box3 > div:nth-of-type(2) {
  position: absolute;
  top: 30%;
  left: 7%;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
  animation: anime 5s 0.2s linear forwards infinite;
  visibility: hidden;
}

.section2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/Image/slide1.jpg);
  background-size: cover;
  /* background-color: cadetblue; */
  position: absolute;
  top: 0;
  left: -100%;
  animation: 15s linear infinite;
  animation-name: slide2;
}
.section2 .box1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(159, 164, 176, 0.6156862745);
}
.section2 .box2 {
  width: 300px;
  height: 250px;
  position: absolute;
  left: 10%;
  top: 0;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  background-image: url(../Assets/Image/slide-rect1.jpg);
  background-size: cover;
}
.section2 .box3 {
  width: 800px;
  height: 500px;
  /* background-color: aqua; */
  position: absolute;
  top: 15%;
  font-size: 100px;
  font-family: "Pacifico", cursive;
  position: relative;
  color: white;
  font-weight: bolder;
}
.section2 .box3 > div:nth-of-type(1) {
  position: absolute;
  top: 5%;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
  animation: anime 5s 0.2s linear forwards infinite;
  visibility: hidden;
}
.section2 .box3 > div:nth-of-type(2) {
  position: absolute;
  top: 30%;
  left: 7%;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
  animation: anime 5s 0.2s linear forwards infinite;
  visibility: hidden;
}

.section3 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/Image/slide2.jpg);
  background-size: cover;
  /* background-color: cadetblue; */
  position: absolute;
  top: 0;
  left: -100%;
  animation: 15s linear infinite;
  animation-name: slide3;
}
.section3 .box1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(93, 135, 163, 0.631372549);
}
.section3 .box2 {
  width: 300px;
  height: 250px;
  position: absolute;
  left: 10%;
  top: 0;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  background-image: url(../Assets/Image/slide-rect2.jpg);
  background-size: cover;
}
.section3 .box3 {
  width: 800px;
  height: 500px;
  /* background-color: aqua; */
  position: absolute;
  top: 15%;
  font-size: 100px;
  font-family: "Pacifico", cursive;
  position: relative;
  color: white;
  font-weight: bolder;
}
.section3 .box3 > div:nth-of-type(1) {
  position: absolute;
  top: 5%;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
  animation: anime 5s 0.2s linear forwards infinite;
  visibility: hidden;
}
.section3 .box3 > div:nth-of-type(2) {
  position: absolute;
  top: 30%;
  left: 7%;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
  animation: anime 5s 0.2s linear forwards infinite;
  visibility: hidden;
}

@keyframes anime {
  50% {
    visibility: visible;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}
@keyframes slide1 {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  36% {
    left: 100%;
  }
  36.00000001% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slide2 {
  0% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  36% {
    left: 0;
  }
  63% {
    left: 0;
  }
  69% {
    left: 100%;
  }
  69.00000000000001% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes slide3 {
  0% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  69% {
    left: 0;
  }
  94% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}/*# sourceMappingURL=Trick-24.css.map */